body{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
}
ul{
    list-style-type: none;
    padding: 0;
}
p{
    font-size: 18px;
    margin-bottom: 20px;
}
h1{
    font-size: 36px;
    margin-bottom: 20px;
}
h2{
    font-size: 24px;
    margin-bottom: 20px;
}
li{
    font-size: 18px;
    margin-bottom: 10px;
}
ol{
    list-style-type: decimal;
    padding-left: 20px;
}