body{
    background-color: beige;
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
header footer{
    background-color: #222;
    color: white;
    padding: 10px;
}